<div class='menu drop-down-menu'>
	<span class='menu-title'>الجدول</span>
	<div class='menu-content'>
		<div class='menu-content-wrapper'>
			<a href='/timetable/show/main-table' class='menu-btn'>الجدول</a>
			<a href='/timetable/show/teacher-timetable/id' class='menu-btn'>جدول مدرس</a>
			<a href='/timetable/timetable/show/main' class='menu-btn'>جدول فصل</a>
			<div class='menu left-slide-menu'>
				<span class="menu-title">جدول يوم</span>
				<div class="menu-content">
					<div class="menu-content-wrapper">
						<a href='/timetable/show/day-timetable/1' class='menu-btn'>السبت</a>
						<a href='/timetable/show/day-timetable/2' class='menu-btn'>الأحد</a>
						<a href='/timetable/show/day-timetable/3' class='menu-btn'>الإثنين</a>
						<a href='/timetable/show/day-timetable/4' class='menu-btn'>الثلاثاء</a>
						<a href='/timetable/show/day-timetable/5' class='menu-btn'>الأربعاء</a>
						<a href='/timetable/show/day-timetable/6' class='menu-btn'>الخميس</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
