<div class='menu drop-down-menu'>
	<span class='menu-title'>الجدول</span>
	<div class='menu-content'>
		<div class='menu-content-wrapper'>
			<a href='/timetable/' class='menu-btn'>الجدول</a>
			<a href='/timetable/' class='menu-btn'>جدول مدرس</a>
			<a href='/timetable/' class='menu-btn'>جدول فصل</a>
			<a href='/timetable/' class='menu-btn'>جدول صف</a>
		</div>
	</div>
</div>
