{% if entity.arabic.ss.evaluation.isAbsence %}
	{% include absence %}
{% else %}
	<td>{{ entity.arabic.ss.evaluation.value }}</td>
{% endif %}

{% if entity.arabic.ss.written.isAbsence %}
	{% include absence %}
{% else %}
	<td>{{entity.arabic.ss.written.value}}</td>
{% endif %}
