{% if entity.arabic.subjectResult.total.isAbsence %}
	{% include absence %}
{% else %}
	<td>{{entity.arabic.subjectResult.total.value}}</td>
{% endif %}

{% if entity.arabic.subjectResult.netDegree.isAbsence %}
	{% include absence %}
{% else %}
	<td>{{entity.arabic.subjectResult.netDegree.value}}</td>
{% endif %}

{% if entity.arabic.subjectResult.grade.isAbsence %}
	{% include absence %}
{% else %}
	{% if entity.arabic.subjectResult.grade.isPassed != true %}
		<td class="danger">{{entity.arabic.subjectResult.grade.value}}</td>
	{% else %}
		<td>{{entity.arabic.subjectResult.grade.value}}</td>
	{% endif %}
{% endif %}
