<th class="rotated-head serial" rowspan="2">
	<span>مسلسل</span>
</th>
<th class="rotated-head sitting" rowspan="2">
	<span>رقم الجلوس</span>
</th>
<th class="cell-size-3 std-name" rowspan="2">
	<span>اسم الطالب</span>
</th>
<th class="rotated-head class-number" rowspan="2">
	<span>الفصل</span>
</th>
<th class="rotated-head" rowspan="1" subject-name="arabic">
	<span>اللغة العربية</span>
</th>
<th class="rotated-head" rowspan="1" subject-name="english">
	<span>اللغة الإنجليزية</span>
</th>
<th class="rotated-head" rowspan="1" subject-name="social_studies">
	<span>الدراسات</span>
</th>
<th class="rotated-head" rowspan="1" subject-name="aljebra">
	<span>الجبر</span>
</th>
<th class="rotated-head" rowspan="1" subject-name="geometry">
	<span>الهندسة</span>
</th>
<th class="rotated-head" rowspan="1" subject-name="sciences">
	<span>العلوم</span>
</th>
<th class="rotated-head" rowspan="1" subject-name="religion">
	<span>التربية الدينية</span>
</th>
<th class="rotated-head" rowspan="1" subject-name="computer">
	<span>الحاسب الآلي</span>
</th>
<th class="rotated-head" rowspan="1" subject-name="draw">
	<span>التربية الفنية</span>
</th>
