.combo-box,
.text-box {
  font-size: .8em;
  margin: 0;
}

.text-box {
  width: 250px;
  text-align: right;
}

.combo-box {
  width: 150px;
  font-weight: bold;
}

.lbl {
  width: 150px;
  text-align: right;
  display: block;
}

.lbl,
.combo-box,
.text-box {
  height: 30px;
}

.form-row {
  overflow: hidden;
}

.form-item-container {
  float: right;
  margin-right: 20px;
}

.form-row-content {
  display: inline-block;
  margin: auto;
}

fieldset {
  position: relative;
  width: 850px;
}

.fieldset-buttons {

  position: absolute;
  top: 0;
  left: 15px;
}

.reset-btn {
  visibility: hidden;
  font-size: .7rem;
}

.buttons-container {
  position: relative;

  .content-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);

    .btn {
      width: 200px;
      height: 30px;
    }
  }
}