@import './edit-teacher-data';

.combo-box,
.text-box {
  font-size: .8em;
  margin: 0;
}

.edit-employee-form {
  .text-box {
    width: 250px;
    text-align: right;
  }

  .combo-box {
    width: 150px;
    font-weight: bold;
  }

  .lbl {
    width: 150px;
    text-align: right;
    display: block;
  }

  .lbl,
  .combo-box,
  .text-box {
    height: 30px;
  }

  fieldset {
    position: relative;
    width: 250px;
    margin: 0 10px;
    float: right;
  }

  .fieldset-buttons {

    position: absolute;
    top: 0;
    left: 15px;

    .reset-btn {
      visibility: hidden;
      font-size: .7rem;
    }
  }
}

.form-item-container.classrooms {

  .checkboxes,
  .checkboxes-container {
    overflow: hidden;
  }

  .checkboxes {
    display: inline-block;
  }

  .grade-classrooms {
    float: right;
    width: 60px;
    overflow: hidden;
    padding: 5px;

    &:hover .grade-title {
      background-color: $warning;
      box-shadow: 0 0 5px rgba(0, 0, 0, .7);
    }

    .grade-title {
      width: 50px;
      height: 40px;
      text-align: center;
      margin-bottom: 10px;
    }
  }
}