.employees-data {

  @import 'employes-table';
  @import 'edit-employee-form';

  .page-title {
    position: relative;
    text-align: center;
    padding: 10px;
  }

  .displayed-content {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    background-color: $main-color;
    font-size: 1.2rem;
    padding: 5px 10px;
    color: #FFF;
    border-radius: 5px;
  }

}