.nav-holder {
  width: 100%;
  height: 48px;
}

.admin-nav {
  z-index: 3;
  width: 100%;
  margin: 0;
  background-color: $main-color;
  position: fixed;
  top: 0;
  transition: top 0.5s;
}

.admin-nav:hover {
  top: 0;
  box-shadow: 0 0 10px #999a9c;
}

.admin-nav ul li,
.admin-nav .user {
  display: inline-block;
}

.admin-nav .user,
.admin-nav .admin-links {
  float: right;
  margin: 0;
}

.admin-nav .admin-links {
  margin-right: 250px;
}

.admin-nav i.fa:first-child {
  margin-left: 5px;
}

.admin-nav .btn {
  padding: 15px 0px;
  font-weight: 600;
  width: 130px;
  color: $light-bg-color;
}

.admin-nav .dropdown .dropdown-btn .user-name+i {
  margin-right: 5px;
}

.admin-nav .dropdown,
.admin-nav .dropdown .dropdown-content {
  margin: 0;
  padding: 0;
}

.admin-nav .dropdown .dropdown-content .btn {
  display: block;
}

.admin-nav .dropdown .dropdown-content {
  box-shadow: 5px 5px 5px #5d5d5a;
}

.admin-nav .dropdown {
  position: relative;
}

.admin-nav .dropdown .dropdown-content {
  position: absolute;
  display: none;
  top: 48px;
  right: 0;
  padding-top: 5px;
  z-index: 20;
  width: 0;
  transition: width 0.5s;
}

.admin-nav .dropdown-content .btn {
  background-color: $main-color;
}

.admin-nav .dropdown:hover .dropdown-content {
  display: block;
  width: 130px;
}

.admin-nav .btn:hover {
  background-color: $secondary-color;
  color: $light-fg-color;
  box-shadow: none;
}