<!-- students data-->
<th colspan="1" rowspan="3" class="cell-size-1 col-head data rotated-head">
	<span class="col-text">مسلسل</span>
</th>
<th colspan="1" rowspan="3" class="cell-size-1 col-head data rotated-head">
	<span class="col-text">رقم الجلوس</span>
</th>
<th colspan="1" rowspan="3" class="cell-size-3 col-head data">
	<span class="col-text">اسم الطالب</span>
</th>
<th colspan="1" rowspan="3" class="cell-size-1 col-head data rotated-head">
	<span class="col-text">الفصل</span>
</th>
<th colspan="1" rowspan="3" class="cell-size-1 col-head data rotated-head">
	<span class="col-text">حالة القيد</span>
</th>
<th colspan="1" rowspan="3" class="cell-size-1 col-head data rotated-head">
	<span class="col-text">الصف</span>
</th>

<!-- arabic -->
<th colspan="1" rowspan="1" class="cell-size-1 col-head rotated-head">
	<span class="col-text">تقويمات</span>
</th>
<th colspan="1" rowspan="1" class="cell-size-1 col-head rotated-head">
	<span class="col-text">تحريري</span>
</th>
<th colspan="1" rowspan="1" class="cell-size-1 col-head rotated-head total">
	<span class="col-text">درجة الطالب</span>
</th>
<th colspan="1" rowspan="3" class="cell-size-1 col-head rotated-head grade">
	<span class="col-text">التقدير</span>
</th>

<!-- english -->
<th colspan="1" rowspan="1" class="cell-size-1 col-head rotated-head">
	<span class="col-text">تقويمات</span>
</th>
<th colspan="1" rowspan="1" class="cell-size-1 col-head rotated-head">
	<span class="col-text">تحريري</span>
</th>
<th colspan="1" rowspan="1" class="cell-size-1 col-head rotated-head total">
	<span class="col-text">درجة الطالب</span>
</th>
<th colspan="1" rowspan="3" class="cell-size-1 col-head rotated-head grade">
	<span class="col-text">التقدير</span>
</th>

<!-- socials -->
<th colspan="1" rowspan="1" class="cell-size-1 col-head rotated-head">
	<span class="col-text">تقويمات</span>
</th>
<th colspan="1" rowspan="1" class="cell-size-1 col-head rotated-head">
	<span class="col-text">تحريري</span>
</th>
<th colspan="1" rowspan="1" class="cell-size-1 col-head rotated-head total">
	<span class="col-text">درجة الطالب</span>
</th>
<th colspan="1" rowspan="3" class="cell-size-1 col-head rotated-head grade">
	<span class="col-text">التقدير</span>
</th>

<!-- math -->
<th colspan="1" rowspan="1" class="cell-size-1 col-head rotated-head">
	<span class="col-text">تقويمات</span>
</th>
<th colspan="1" rowspan="1" class="cell-size-1 col-head rotated-head">
	<span class="col-text">جبر</span>
</th>
<th colspan="1" rowspan="1" class="cell-size-1 col-head rotated-head">
	<span class="col-text">هندسة</span>
</th>
<th colspan="1" rowspan="1" class="cell-size-1 col-head rotated-head total">
	<span class="col-text">درجة الطالب</span>
</th>
<th colspan="1" rowspan="3" class="cell-size-1 col-head rotated-head grade">
	<span class="col-text">التقدير</span>
</th>

<!-- sciences -->
<th colspan="1" rowspan="1" class="cell-size-1 col-head rotated-head">
	<span class="col-text">تقويمات</span>
</th>
<th colspan="1" rowspan="1" class="cell-size-1 col-head rotated-head">
	<span class="col-text">عملي</span>
</th>
<th colspan="1" rowspan="1" class="cell-size-1 col-head rotated-head">
	<span class="col-text">تحريري</span>
</th>
<th colspan="1" rowspan="1" class="cell-size-1 col-head rotated-head total">
	<span class="col-text">درجة الطالب</span>
</th>
<th colspan="1" rowspan="3" class="cell-size-1 col-head rotated-head grade">
	<span class="col-text">التقدير</span>
</th>

<!-- total -->
<th colspan="1" rowspan="1" class="cell-size-1 col-head rotated-head total">
	<span class="col-text">درجة الطالب</span>
</th>
<th colspan="1" rowspan="3" class="cell-size-1 col-head rotated-head grade">
	<span class="col-text">التقدير</span>
</th>

<!-- activity 1 -->
<th colspan="1" rowspan="1" class="cell-size-1 col-head rotated-head total">
	<span class="col-text">درجة الطالب</span>
</th>
<th colspan="1" rowspan="3" class="cell-size-1 col-head rotated-head grade">
	<span class="col-text">التقدير</span>
</th>

<!-- activity 2 -->
<th colspan="1" rowspan="1" class="cell-size-1 col-head rotated-head total">
	<span class="col-text">درجة الطالب</span>
</th>
<th colspan="1" rowspan="3" class="cell-size-1 col-head rotated-head grade">
	<span class="col-text">التقدير</span>
</th>

<!-- religion -->
<th colspan="1" rowspan="1" class="cell-size-1 col-head rotated-head">
	<span class="col-text">تقويمات</span>
</th>
<th colspan="1" rowspan="1" class="cell-size-1 col-head rotated-head">
	<span class="col-text">تحريري</span>
</th>
<th colspan="1" rowspan="1" class="cell-size-1 col-head rotated-head total">
	<span class="col-text">درجة الطالب</span>
</th>
<th colspan="1" rowspan="3" class="cell-size-1 col-head rotated-head grade">
	<span class="col-text">التقدير</span>
</th>

<!-- computer -->
<th colspan="1" rowspan="1" class="cell-size-1 col-head rotated-head">
	<span class="col-text">تقويمات</span>
</th>
<th colspan="1" rowspan="1" class="cell-size-1 col-head rotated-head">
	<span class="col-text">عملي</span>
</th>
<th colspan="1" rowspan="1" class="cell-size-1 col-head rotated-head">
	<span class="col-text">تحريري</span>
</th>
<th colspan="1" rowspan="1" class="cell-size-1 col-head rotated-head total">
	<span class="col-text">درجة الطالب</span>
</th>
<th colspan="1" rowspan="3" class="cell-size-1 col-head rotated-head grade">
	<span class="col-text">التقدير</span>
</th>

<!-- draw -->
<th colspan="1" rowspan="1" class="cell-size-1 col-head rotated-head">
	<span class="col-text">تقويمات</span>
</th>
<th colspan="1" rowspan="1" class="cell-size-1 col-head rotated-head">
	<span class="col-text">تحريري</span>
</th>
<th colspan="1" rowspan="1" class="cell-size-1 col-head rotated-head total">
	<span class="col-text">درجة الطالب</span>
</th>
<th colspan="1" rowspan="3" class="cell-size-1 col-head rotated-head grade">
	<span class="col-text">التقدير</span>
</th>

<th colspan="1" rowspan="1" class="cell-size-1 col-head rotated-head total">
	<span class="col-text">درجة الطالب</span>
</th>
<th colspan="1" rowspan="3" class="cell-size-1 col-head rotated-head grade">
	<span class="col-text">التقدير</span>
</th>

<th colspan="1" rowspan="3" class="cell-size-2">الحالة</th>
<th colspan="1" rowspan="3" class="cell-size-3">مواد الضعف</th>
