<div class="section">
	<div class="data-table fs" style="width: 100%">
		<div class="table-head" style="width: 100%;">
			<table>
				<thead>
					<tr>
						{% include "exams/fs-sheet/table-head.twig" %}
					</tr>
					<tr>
						{% include "exams/fs-sheet/columns-names.twig" %}
					</tr>
					<tr>
						{% include "exams/fs-sheet/max-degs.twig" %}
					</tr>
					<tr>
						{% include "exams/fs-sheet/min-degs.twig" %}
					</tr>
				</thead>
			</table>
		</div>

		<div class="table-body" style="width: 100%;">
			<table>
				<thead>
					<tr>
						{% include "exams/fs-sheet/table-body-header.twig" %}
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	</div>
</div>