<div class="section">
	<div class="data-table fs">
		<div class="table-head">
			<table class="table">
				<thead>
					<tr class="head-space-holder">
						{% include "exams/fs-sheet/columns-sizes.twig" %}
					</tr>
					<tr>
						{% include "exams/fs-sheet/global-columns-names.twig" %}
					</tr>
					<tr>
						{% include "exams/fs-sheet/columns-names.twig" %}
					</tr>
					<tr>
						{% include "exams/fs-sheet/max-degs.twig" %}
					</tr>
					<tr>
						{% include "exams/fs-sheet/min-degs.twig" %}
					</tr>
				</thead>
			</table>
		</div>

		<div class="table-body">
			<table class="table">
				<thead>
					<tr class="head-space-holder">
						{% include "exams/fs-sheet/columns-sizes.twig" %}
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	</div>
</div>
