<th rowspan="2">
	<span>{{ degs.evaluations.arabic }}</span>
</th>
<th rowspan="2">
	<span>{{ degs.max.arabic }}</span>
</th>
<th rowspan="1" class="max-deg">
	<span><?php echo convertNumbers(40); ?></span>
</th>

<th rowspan="2">
	<span><?php echo convertNumbers(30); ?></span>
</th>
<th rowspan="2">
	<span><?php echo convertNumbers(70); ?></span>
</th>
<th rowspan="1" class="max-deg">
	<span><?php echo convertNumbers(30); ?></span>
</th>

<th rowspan="2">
	<span><?php echo convertNumbers(30); ?></span>
</th>
<th rowspan="2">
	<span><?php echo convertNumbers(70); ?></span>
</th>
<th rowspan="1" class="max-deg">
	<span><?php echo convertNumbers(20); ?></span>
</th>

<th rowspan="2">
	<span><?php echo convertNumbers(30); ?></span>
</th>
<th rowspan="2">
	<span><?php echo convertNumbers(35); ?></span>
</th>
<th rowspan="2">
	<span><?php echo convertNumbers(35); ?></span>
</th>
<th rowspan="1" class="max-deg">
	<span><?php echo convertNumbers(30); ?></span>
</th>

<th rowspan="2">
	<span><?php echo convertNumbers(30); ?></span>
</th>
<th rowspan="2">
	<span><?php echo convertNumbers(14); ?></span>
</th>
<th rowspan="2">
	<span><?php echo convertNumbers(56); ?></span>
</th>
<th rowspan="1" class="max-deg">
	<span><?php echo convertNumbers(20); ?></span>
</th>

<th rowspan="1" class="max-deg">
	<span><?php echo convertNumbers(140); ?></span>
</th>

<th rowspan="1" class="max-deg">
	<span><?php echo convertNumbers(10); ?></span>
</th>

<th rowspan="1" class="max-deg">
	<span><?php echo convertNumbers(10); ?></span>
</th>

<th rowspan="2">
	<span><?php echo convertNumbers(30); ?></span>
</th>
<th rowspan="2">
	<span><?php echo convertNumbers(70); ?></span>
</th>
<th rowspan="1" class="max-deg">
	<span><?php echo convertNumbers(20); ?></span>
</th>

<th rowspan="2">
	<span><?php echo convertNumbers(30); ?></span>
</th>
<th rowspan="2">
	<span><?php echo convertNumbers(14); ?></span>
</th>
<th rowspan="2">
	<span><?php echo convertNumbers(56); ?></span>
</th>
<th rowspan="1" class="max-deg">
	<span><?php echo convertNumbers(10); ?></span>
</th>

<th rowspan="2">
	<span><?php echo convertNumbers(30); ?></span>
</th>
<th rowspan="2">
	<span><?php echo convertNumbers(70); ?></span>
</th>
<th rowspan="1" class="max-deg">
	<span><?php echo convertNumbers(10); ?></span>
</th>
<th rowspan="1" class="max-deg">
	<span><?php echo convertNumbers(20); ?></span>
</th>
