@import url("https://fonts.googleapis.com/css?family=Fira+Sans");

@import 'base/reset';

$for-color: #B0B0B0;

body {
  font-family: "Fira Sans", sans-serif;
  direction: ltr;
}

span {
  display: inline-block;
}

.wrapper {
  font-size: 2em;
  color: $for-color;
  position: absolute;
  text-align: center;
  top: 40%;
  right: 50%;
  transform: translate(50%, 40%);
  text-transform: uppercase;

  .code,
  .message {
    margin-right: 1rem;
  }

  .message {
    border-left: 1px solid $for-color;
    padding-left: 2rem;
  }

  .description {
    font-size: 16px;
    padding-top: 20px;
    letter-spacing: 2px;
  }
}