.combo-box {
  display: inline-block;
  cursor: pointer;
  width: 100px;
  padding: 5px 10px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  border: none;
  background-color: #ecf0f1;
  min-height: 30px;

  &:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  }

  &,
  option {
    font-size: 1.1rem;
  }

  @import 'items-colors';

  @import 'item-sizes';

}