$table-border-color: #AAA;

.data-table {

  max-width: 100%;

  .table-head,
  .table-body {
    overflow: auto;

    .head-space-holder+tr {
      border-top: none;
    }

  }

  .table-head {
    overflow: hidden;
  }

  .table-body {
    table {
      border-top: none;

      tbody tr:focus {
        outline: none;
        background-color: $secondary-color;
        color: #FFF;
      }
    }
  }

}