$table-border-color: #AAA;

.data-table {
  margin: auto;
  border-radius: 5px;
  box-shadow: 0 0 5px $gray;
  padding: 5px;

  max-width: 100%;

  .table-head,
  .table-body {
    overflow: auto;

    .head-space-holder+tr {
      border-top: none;
    }

  }

  .table-head {
    overflow: hidden;
    max-width: 100%;

    .table-head-content {
      max-width: calc(100% - 17px);
      overflow: hidden;
      background-color: white;
    }
  }

  .table-body {
    overflow-y: scroll;

    table {
      border-top: none;

      tbody tr:focus {
        outline: none;
        background-color: $light-fg-color;
        color: #000;
      }
    }
  }
}