{% extends "employees-affairs/employees-affairs.twig" %}

{% block employeesContent %}
	<div class="page-header">
		{% include "employees-affairs/edit-employee/components/page-header.twig" %}
	</div>

	<div id="edit-employee-form">
		{% include "employees-affairs/edit-employee/components/edit-form.twig" %}
	</div>
{% endblock employeesContent %}
