// main-colors

$main-color: #007065;
$secondary-color: #00a79d;
$secondary-color-lighg: #00a79c31;
$temp-color: #ffeecf;

$dark-bg-color: #007065;
$light-bg-color: #fbfdff;

$gray: #DDD;

$light-fg-color: #f4fa9c;
$dark-fg-color: #007065;

$table-header-bg-color: #007065;

// states colors

$primary: #007bff;
$info: #17a2b8;
$success : #28a745;
$warning: #ffc107;
$danger: #dc3545;
$pink: #fccde2;
$secondary: #6c757d;