{% extends "exams/exams.twig" %}

{% block child %}
	<div class="section">
		<div class="section-header">
			<div class="section-header-name">
				{% include "exams/monitoring/monitoring.twig" %}
			</div>
			<div class="section-header-data monitoring-summary">
				{% include "exams/monitoring/evaluation/summary-table.twig" %}
			</div>
		</div>

		<div class="data-table" id="monitoring-table">

			<div class="table-head">
				<table class="table">
					<thead>
						<tr class="head-space-holder">
							{% include "exams/monitoring/evaluation/columns-sizes.twig" %}
						</tr>
						<tr>
							{% include "exams/monitoring/evaluation/columns-names.twig" %}
						</tr>
						<tr>
							{% include "exams/monitoring/evaluation/header-degrees.twig" %}
						</tr>
					</thead>
				</table>
			</div>

			<div class="table-body">
				<table class="table">
					<thead>
						<tr class="head-space-holder">
							{% include "exams/monitoring/evaluation/columns-sizes.twig" %}
						</tr>
					</thead>
					<tbody>
						{% set serial = 1 %}
						{% for entity in entities %}
							<tr>
								{% include "exams/monitoring/evaluation/data.twig" %}
							</tr>
							{% set serial = serial + 1 %}
						{% endfor %}
					</tbody>
				</table>
			</div>

		</div>
	</div>
{% endblock %}
