<div class="section">
	<div class="section-header">
		<div class="section-header-name">
			<div>
				<span class="class-name">{{ gradeName }}</span>
				<span>|</span>
				<span class="table-name">{{ tableName }}</span>
			</div>
		</div>
		{#  summary-table #}
	</div>
	{#  monitoring-table #}
</div>
