<div class="buttons-container">
	<div class="content-wrapper">
		<input class="btn success" type="submit" value="حفظ" id="submit">
		<input class="btn warning" type="reset" value="إلغاء">
	</div>
</div>
