<th class="rotated-head serial" rowspan="2">
	<span>مسلسل</span>
</th>
<th class="rotated-head sitting" rowspan="2">
	<span>رقم الجلوس</span>
</th>
<th class="std-name" rowspan="2">
	<span>اسم الطالب</span>
</th>
<th class="rotated-head class-number" rowspan="2">
	<span>الفصل</span>
</th>
<th class="rotated-head" rowspan="1">
	<span>اللغة العربية</span>
</th>
<th class="rotated-head" rowspan="1">
	<span>اللغة الإنجليزية</span>
</th>
<th class="rotated-head" rowspan="1">
	<span>الدراسات</span>
</th>
<th class="rotated-head" rowspan="1">
	<span>الرياضيات</span>
</th>
<th class="rotated-head" rowspan="1">
	<span>العلوم</span>
</th>
<th class="rotated-head" rowspan="1">
	<span>نشاط 1</span>
</th>
<th class="rotated-head" rowspan="1">
	<span>نشاط 2</span>
</th>
<th class="rotated-head" rowspan="1">
	<span>التربية الدينية</span>
</th>
<th class="rotated-head" rowspan="1">
	<span>الحاسب الآلي</span>
</th>
<th class="rotated-head" rowspan="1">
	<span>التربية الفنية</span>
</th>
<th class="rotated-head" rowspan="1">
	<span>التربية الرياضية</span>
</th>
