<table class="table">
	<thead>
		<tr class="head-space-holder">
			<th class="cell-size-1"></th>
			<th class="cell-size-1"></th>
			<th class="cell-size-1"></th>
			<th class="cell-size-1"></th>
			<th class="cell-size-1"></th>
			<th class="cell-size-1"></th>
			<th class="cell-size-1"></th>
			<th class="cell-size-1"></th>
			<th class="cell-size-1"></th>
			<th class="cell-size-1"></th>
			<th class="cell-size-1"></th>
			<th class="cell-size-1"></th>
		</tr>
	</thead>
	<tbody>
		<tr rowname="monitoring">
			<td>رصد</td>
			<td colname="arabic"></td>
			<td colname="english"></td>
			<td colname="socialStudies"></td>
			<td colname="math"></td>
			<td colname="sciences"></td>
			<td colname="activity_1"></td>
			<td colname="activity_2"></td>
			<td colname="religion"></td>
			<td colname="computer"></td>
			<td colname="draw"></td>
			<td colname="sports"></td>
		</tr>
		<tr rowname="absence">
			<td>غياب</td>
			<td colname="arabic"></td>
			<td colname="english"></td>
			<td colname="socialStudies"></td>
			<td colname="math"></td>
			<td colname="sciences"></td>
			<td colname="activity_1"></td>
			<td colname="activity_2"></td>
			<td colname="religion"></td>
			<td colname="computer"></td>
			<td colname="draw"></td>
			<td colname="sports"></td>
		</tr>
	</tbody>
</table>
