<div class="certifecate">

	<div class="certifecate-head">
		{% include "exams/certificates/components/header.twig" %}
	</div>

	<div class="student-data">
		{% include "exams/certificates/components/student-data.twig" %}
	</div>

	<div class="degrees">
		<div class="sutbjects-head">
			{% include "exams/certificates/components/subjects.twig" %}
		</div>

		<div class="subjects-data">
			{% include "exams/certificates/components/data.twig" %}
		</div>

		<div class="final-state">
			{% include "exams/certificates/components/state.twig" %}
		</div>

	</div>

	<div class="certifecate-footer">
		{% include "exams/certificates/components/footer.twig" %}
	</div>

</div>
