{% extends "exams/exams.twig" %}

{% block child %}
	<div class="certificates">
		{% for entity in entities %}
			{% include "exams/certificates/certificate.twig" %}
		{% endfor %}
	</div>
{% endblock %}
