.menu-bar,
.menu {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
}

.menu {
  text-align: center;
}

.sub-menu {
  position: relative;
}

.menu-title,
.sub-menu-title,
.menu-btn,
.page-data {
  padding: 10px 15px;
  display: inline-block;
  cursor: pointer;
}

.sub-menu-title,
.menu-btn {
  border-bottom: 2px solid #ecf0f1;
}

.menu-title {
  width: 120px;
}

.sub-menu-title,
.menu-btn {
  width: 150px;
}

.menu-content,
.sub-menu-content {
  display: none;
  position: absolute;
  z-index: 2;
}

.menu-content {
  right: 0;
  top: 100%;
  padding-top: 5px;
}

.sub-menu-content {
  top: 0;
  right: 100%;
  padding-right: 5px;
}

.menu:hover .menu-content {
  display: block;
}

.menu:hover .menu-title {
  background-color: #f1c40f;
}

.sub-menu:hover .sub-menu-content {
  display: block;
}

.sub-menu-title,
.menu-btn {
  background-color: #f1c40f;
}

.menu-btn:hover,
.sub-menu-title:hover,
.sub-menu:hover .sub-menu-title {
  background-color: #e67e22;
  color: #FFF;
}

.wrapper {
  box-shadow: 0 0 5px #b4b4b4;
}