<div class="footer-part control-cheaf">
	<span class="lbl">رئيس الكنترول</span>
	<span class="value">رئيس الكنترول</span>
</div>

<div class="footer-part student-rank">
	<span class="lbl">الترتيب</span>
	<span class="value">الترتيب</span>
</div>

<div class="footer-part school-head">
	<span class="lbl">مدير المدرسة</span>
	<span class="value">مدير المدرسة</span>
</div>
