<h4 class="title">
	<span>شهادة بدرجات
		<span>{{ generaldata.semester }}</span>
		<span>{{ generaldata.gradeName }}</span>
		الإعدادي
	</span>
</h4>
<h4 class="release">
	<span>للعام الدراسي
		<span>{{ generaldata.schoolYear }}</span>
	</span>
</h4>
