<h4 class="title">
	<span>شهادة بدرجات
		<span>{{ certificateHeader.semester }}</span>
		<span>{{ certificateHeader.gradeName }}</span>
		الإعدادي
	</span>
</h4>
<h4 class="release">
	<span>للعام الدراسي
		<span>{{ certificateHeader.schoolYear }}</span>
	</span>
</h4>
