<div class="right-part">
	<span class="student-state">{{ studentdeg.finalGrade }}</span>
</div>
<div class="left-part">
	<span class="second-round-subjects">{{ studentgrade.secondRoundSubjects }}</span>
</div>
