<div class="right-part">
	<span class="student-state">{{ entity.studentState.state }}</span>
</div>
<div class="left-part">
	<span class="second-round-subjects">
		{% for subject in entity.studentState.weaknessSubjects %}
			{{ subject.getSubjectName }}
		{% endfor %}
	</span>
</div>
