<div class="student-name-container">
	<span class="student-name-lbl">اسم الطالب</span>
	<span class="student-name">{{ entity.studentData.studentName }}</span>
</div>
<div class="sitting-number-container">
	<span class="sitting-number-lbl">رقم الجلوس</span>
	<span class="sitting-number">{{ entity.studentData.sittingNumber }}</span>
</div>
