<td employee-id="{{ employee['id'] }}">{{ serial }}</td>
{% include "employees-affairs/employees-table/personal-data.twig" with {'personalData' : employee['personal-data']} %}
{% include "employees-affairs/employees-table/job-data.twig" with {'jobData' : employee['job-data']} %}
{% include "employees-affairs/employees-table/phone.twig" with {'phone' : employee['phone']} %}
{% include "employees-affairs/employees-table/social-data.twig" with {'socialData' : employee['social-data']} %}
{% include "employees-affairs/employees-table/address.twig" with {'address' : employee['address']} %}
