<div class='menu drop-down-menu'>
	<span class='menu-title'>الصف</span>
	<div class='menu-content'>
		<div class='menu-content-wrapper'>
			<a href='/exams/1' class='menu-btn'>الأول</a>
			<a href='/exams/2' class='menu-btn'>الثاني</a>
		</div>
	</div>
</div>
