<div class='menu-bar'>

	{% include "exams/components/menus/profile.twig" %}

	{% include "exams/components/menus/grade.twig" %}

	{% include "exams/components/menus/monitoring.twig" %}

	{% include "exams/components/menus/certificates.twig" %}

	{% include "exams/components/menus/sheets.twig" %}

	{% include "exams/components/menus/statements.twig" %}

	{% include "exams/components/menus/statistics.twig" %}

	{% include "exams/components/menus/second-round.twig" %}

</div>
