<div class='menu drop-down-menu' id='options'>
	<span class='menu-title'>خيارات</span>
	<div class="menu-content">
		<div class="menu-content-wrapper">
			<span class="menu-btn">إخفاء الألوان</span>
		</div>
	</div>
</div>
