<div class='menu drop-down-menu'>
	<span class='menu-title'>الدور الثاني</span>
	<div class='menu-content'>
		<div class='menu-content-wrapper'>
			<a href='/second-round/{{ gradeNumber ? : 1 }}/call' class='menu-btn'>كشوف المناداة</a>
			<a href='/second-round/{{ gradeNumber ? : 1 }}/daleel' class='menu-btn'>دليل الدور الثاني</a>
			<a href='/second-round/{{ gradeNumber ? : 1 }}/sign' class='menu-btn'>توقيع الدور الثاني</a>
		</div>
	</div>
</div>
