<div class='menu drop-down-menu'>
	<span class='menu-title'>إحصاءات</span>
	<div class='menu-content'>
		<div class='menu-content-wrapper'>
			<a href='/statistics/{{ gradeNumber ? : 1 }}/fs' class='menu-btn'>التيرم الأول</a>
			<a href='/statistics/{{ gradeNumber ? : 1 }}/ss' class='menu-btn'>آخر العام</a>
			<a href='/statistics/{{ gradeNumber ? : 1 }}/second-round' class='menu-btn'>بعد الدور الثاني</a>
		</div>
	</div>
</div>
