{% set path = "students-affairs/components/menus" %}

<nav class="menu-bar">
	{% include "#{path}/view-menu.twig" %}
	{% include "#{path}/absence-menu.twig" %}
	{% include "#{path}/management-menu.twig" %}
</nav>
