<div class="menu drop-down-menu">
	<span class="menu-title">إدارة</span>
	<div class="menu-content">
		<div class="menu-content-wrapper">
			<div class="menu left-slide-menu">
				<div class="menu-content">
					<div class="menu-content-wrapper"></div>
				</div>
			</div>
		</div>
	</div>
</div>
