<div class="menu drop-down-menu">
	<span class="menu-title">عرض</span>
	<div class="menu-content">
		<div class="menu-content-wrapper">
			{% include "students-affairs/components/menus/grades-menu.twig" 
      with {link: "/students-affairs/students-data/show"} %}
		</div>
	</div>
</div>
