<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="/img/icon.png">
		<link rel="stylesheet" href="/css/style.css"> {% block css %}{% endblock %}
		<title>{{ title }}</title>

	</head>

	<body>
		{% apply spaceless %}
		<div class="content-wrapper">
			<header class="header">
				<div class="header-section">
					<div class='menu drop-down-menu profile-menu'>
						<a href="/" class='menu-title avatar link'>{{ sectionTitle }}</a>
						<div class="menu-content">
							<div class="menu-content-wrapper">
								<div class="menu drop-down-menu">
									<span class="menu-title">
										<i class="fa fa-user"></i>
										<span class="user-name">{{ fullName }}</span>
										<i class="fa fa-angle-down"></i>
									</span>
									<div class="menu-content">
										<div class="menu-content-wrapper">
											<a href="/logout" class="menu-btn">
												<i class="fa fa-sign-out"></i>
												تسجيل الخروج
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				{% block header %}{% endblock header %}
			</header>
			<div class="content"> {% block content %}{% endblock content %}
				</div>
			</div>
			{% endapply %}

			<script src="/js/app.js" type="module"></script>
		</body>

	</html>
