<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/img/icon.png">
  <link rel="stylesheet" href="/css/style.css"> {% block css %}{% endblock %}
  <title>{{ title }}</title>

</head>

<body>
  <div class="content-wrapper">
    <header class="header">
      {% block header %}{% endblock header %}
    </header>
    <div class="content">
      {% block content %}{% endblock content %}
    </div>
  </div>
  <script src="/js/app.js" type="module"></script>
</body>

</html>