:root {
    --cell-size-1: 50px;
    --cell-size-2: 100px;
    --cell-size-3: 270px;
}

.admin-nav {
    top: -40px;
}

.nav-holder {
    height: 8px;
}

table {
    border-collapse: collapse;
}

.page-header {
    width           : 100%;
    padding         : 0;
    margin          : 0;
    font-weight     : bold;
    background-color: #ecf0f1;
}

a {
    color: #000;
}

.page-data {
    color           : #FFF;
    background-color: #00BCD4;
}

.page-data,
.menu-bar,
.menu {
    display : inline-block;
    position: relative;
    margin  : 0;
    padding : 0;
}

.menu {
    text-align: center;
}

.sub-menu {
    position: relative;
}

.menu-title,
.sub-menu-title,
.menu-btn,
.page-data {
    padding: 10px 15px;
    display: inline-block;
    cursor : pointer;
}

.sub-menu-title,
.menu-btn {
    border-bottom: 2px solid #ecf0f1;
}

.menu-title {
    width: 120px;
}

.sub-menu-title,
.menu-btn {
    width: 150px;
}

.menu-content,
.sub-menu-content {
    display : none;
    position: absolute;
    z-index : 2;
}

.menu-content {
    right      : 0;
    top        : 100%;
    padding-top: 5px;
}

.sub-menu-content {
    top          : 0;
    right        : 100%;
    padding-right: 5px;
}

.menu:hover .menu-content {
    display: block;
}

.menu:hover .menu-title {
    background-color: #f1c40f;
}

.sub-menu:hover .sub-menu-content {
    display: block;
}

.sub-menu-title,
.menu-btn {
    background-color: #f1c40f;
}

.menu-btn:hover,
.sub-menu-title:hover,
.sub-menu:hover .sub-menu-title {
    background-color: #e67e22;
    color           : #FFF;
}

.wrapper {
    box-shadow: 0 0 5px #b4b4b4;
}

/* data part */
.data {
    width   : 100%;
    overflow: hidden;
}

.rotated-head {
    white-space: nowrap;
    height     : 100px;
    width      : 60px;
    min-width  : 60px;
    max-width  : 60px;
}

.rotated-head>span {
    display: block;
    width  : 212.79%;
    transform:
        translate(25%, 0px) rotate(-90deg);
}

.cell-size-1 {
    width    : var(--cell-size-1);
    min-width: var(--cell-size-1);
    max-width: var(--cell-size-1);
}

.cell-size-1-1 {
    width    : 80px;
    min-width: 80px;
    max-width: 80px;
}

.cell-size-2 {
    width    : var(--cell-size-2);
    min-width: var(--cell-size-2);
    max-width: var(--cell-size-2);
}

.cell-size-3 {
    width    : var(--cell-size-3);
    min-width: var(--cell-size-3);
    max-width: var(--cell-size-3);
    font-size: 2em;
}

th.head-space-holder {
    padding-top   : 0px;
    padding-bottom: 0px;
    border-color  : transparent;
    border-top    : none;
    border-bottom : none;
    height        : 0px;
}




.section-header {
    overflow: hidden;
    width   : fit-content;
    margin  : 10px 0px 10px 0;
}

.section-header .section-header-name,
.section-header .section-header-data {
    float: right;
}

.section-header .section-header-name {
    width           : 360px;
    height          : 61px;
    font-size       : 1.3em;
    line-height     : 61px;
    font-weight     : bold;
    border-bottom   : 5px solid #2ecc71;
    background-color: #ecf0f1;
    margin-right    : 17px;
}

.section-header .section-header-data {
    margin-right: 10px;
}

.section-header .section-header-name span {
    display   : inline-block;
    padding   : 0 5px;
    text-align: center;
}

.section-header .section-header-data table td {
    font-weight: bold;
    text-align : center;
}


.section-header .section-header-data table td {
    border : 1px dashed #576574;
    height : 25px;
    padding: 5px 0;
}

.section-header .section-header-data table tr td:first-child {
    border-left     : 1px solid #576574;
    background-color: #576574;
    color           : #FFF;
}

.section-header .section-header-data table tr:first-child td:first-child {
    border-bottom: 1px solid #FFF;
}

/* Remove Un Wanted Section Header Borders */
.section-header .section-header-data table tr:first-child td {
    border-top: none;
}

.section-header .section-header-data table tr:last-child td {
    border-bottom: none;
}

.section-header .section-header-data table {
    border: 2px solid #000;
}


.section-header .section-header-name div {
    width : fit-content;
    margin: auto;
}

/*
*************************
*    DataTable Header
*************************
*/



/*
********************************
*   data-table general style 
********************************
*/
.data-table {
    position: relative;
}

.data-table .table-head table thead {
    border: 2px solid #576574;
}

.data-table .table-head table thead tr:first-child th {
    background-color: #576574;
    color           : #FFF;
    border-color    : #FFF;
}

.data-table .table-head th {
    border-right: 1px solid #576574;
    border-left : 1px solid #576574;
}

.data-table .table-head tr {
    border-top: 1px dashed #576574;
}

.data-table .table-head,
.data-table .table-body {
    overflow : scroll;
    direction: ltr;
    width    : 990px;
}

.data-table .table-head {
    transform: rotateX(180deg);
}

.data-table .table-head table {
    direction: rtl;
    transform: rotateX(180deg);
}

.data-table .table-body {
    height: 609px;
}

.data-table .table-body table {
    table-layout: fixed;
    direction   : rtl;
    border      : 2px solid #576574;
    border-top  : none;
}

.data-table .table-body table td {
    border-right: 1px solid #576574;
    border-left : 1px solid #576574;
    border-top  : none;
    height      : 30px;
    text-align  : center;
    font-weight : bold;
}

.data-table .table-body table tr td:nth-child(3) {
    text-align   : right;
    padding-right: 15px;
}

.data-table .table-body table tbody tr {
    border-top   : 1px dashed #576574;
    border-bottom: 1px dashed #576574;
}

.data-table .table-body table tbody tr:first-child {
    border-top: none;
}

.data-table .table-body td.total:not(.no-bg-color),
.data-table .table-head th.total:not(.no-bg-color) {
    background-color: #d2f7c3;
}

.data-table .table-body td.fs.grade:not(.wrong):not(.no-bg-color),
.data-table .table-head th.grade:not(.no-bg-color) {
    background-color: #b4e6ec;
}

/* special classes */
.data-table .table-body table td.wrong {
    font-size       : 0.8em;
    background-color: #ffe5e9 !important;
    color           : #e84139 !important;
}

.data-table td.active-cell {
    outline         : 2px solid #e67e22;
    background-color: #FFF;
}

.data-table .table-body td.warning {
    background-color: #ffe878 !important;
    color           : #da2222 !important;
}

.data-table .table-body tr.even {
    background-color: #f1f1f1;
}

.data-table td.active-cell::selection {
    background-color: transparent;
}

.data-table .table-body tr.active-row {
    background-color: #a6d1c0;
}

/*
**********************************************
*   practical data-table
**********************************************
*/
.data-table.practical-table .table-head,
.data-table.practical-table .table-body {
    width: 539px;
}

/*
**********************************************
*   written data-table
**********************************************
*/

.data-table.written-table .table-head,
.data-table.written-table .table-body {
    width: 890px;
}

/*
**********************************************
*   first-semester data-table
**********************************************
*/

.data-table.fs .table-head,
.data-table.fs .table-body {
    width: 100%;
}

.data-table.fs .table-body {
    height: 646px;
}

.data-table.fs .table-head tr:first-child {
    font-size: 1.2em;
}

.data-table.fs .table-head table thead tr:nth-child(2) th {
    height: 100px;
}

.data-table.fs .table-body td:not(.data) {
    font-size: 0.9em;
}

/* ********************************************
            main-sheet data-table
   ******************************************** */

.data-table.main-sheet .table-head,
.data-table.main-sheet .table-body {
    width: 100%;
}

.data-table.main-sheet .table-head tr:first-child {
    font-size: 1.2em;
}

.data-table.main-sheet .table-head tr:nth-child(2) {
    border-top: none;
}