{% if entity.studentState.isPassed %}
	<td>{{ entity.studentState.state }}</td>

{% else %}
	<td class="danger">{{ entity.studentState.state }}</td>
{% endif %}

{% if entity.studentState.weaknessSubjects == '' %}
	<td class="weakness-subjects"></td>
{% else %}
	<td class="weakness-subjects danger">
		{{ entity.studentState.weaknessSubjects }}
	</td>
{% endif %}
