$table-border-color: #AAA;

.data-table {

  width: fit-content;
  max-width: 100%;

  .table-head,
  .table-body {
    overflow: auto;

    .head-space-holder+tr {
      border-top: none;
    }

  }

  .table-body {
    table {
      border-top: none;
    }
  }

}