$table-border-color: #AAA;

.table {

  overflow: hidden;
  border: 1px solid $table-border-color;
  border-collapse: collapse;
  text-align: center;

  th,
  td {
    padding: 5px;

    &:not(:last-of-type) {
      border-left: 1px solid $table-border-color;

    }
  }

  th {
    &.cell-size-1 {
      width: 50px;
      max-width: 50px;
      min-width: 50px;
    }

    &.cell-size-2 {
      width: 100px;
      max-width: 100px;
      min-width: 100px;
    }

    &.cell-size-3 {
      width: 150px;
      max-width: 150px;
      min-width: 150px;
    }

    &.cell-size-4 {
      width: 200px;
      max-width: 200px;
      min-width: 200px;
    }

    &.cell-size-5 {
      width: 250px;
      max-width: 250px;
      min-width: 250px;
    }
  }

  tr:not(:first-of-type) {
    border-top: 1px solid $table-border-color;
  }


  tbody {
    tr {
      &:hover {
        background-color: #F0F0F0;
      }
    }
  }

  tr.head-space-holder th {
    border: none;
    height: 0px;
    padding: 0px;
  }

  th.rotated-head {
    white-space: nowrap;
    height: 100px;
    overflow: hidden;
    width: 50px;
    min-width: 50px;
    max-width: 50px;

    >span {
      display: block;
      width: 200%;
      transform:
        translate(25%, 0px) rotate(-90deg);
    }
  }
}