.sidbar, .admin-nav, .nav-holder{
    display: none;
}

.data{
    width: 100%;
    margin: 0;
}

.data .table-head{
    overflow: visible;
    direction: rtl;
    width: 100%;
    position: fixed;
}

.data .table-body{
    margin-top: 65px;
    overflow: visible;
    height: 100%;
    direction: rtl;
    width: 100%;
}