<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="/img/icon.png">
		<link rel="stylesheet" href="/css/404.css">
		<title>Error |
			{{ code }}</title>
	</head>

	<body>
		<div class="wrapper">
			<div class="content">
				<span class="code">{{ code }}</span>
				<span class="message">{{ message }}</span>
				<div class="description">{{ description }}</div>
			</div>
		</div>
	</body>

</html>
