{% extends 'admin/admin.twig' %}

{% block users %}

	<div class="content">
		<div class="data">
			<div class="users-data data-table">
				<div class="table-head">
					<div class="table-head-content">
						<table class="table">
							<thead>
								<tr class="head-space-holder">
									{% include "users/components/columns-sizes.twig" %}
								</tr>
								<tr>
									{% include "users/components/columns-names.twig" %}
								</tr>
							</thead>
						</table>
					</div>
				</div>

				<div class="table-body">
					<table class="table">
						<thead>
							<tr class="head-space-holder">
								{% include "users/components/columns-sizes.twig" %}
							</tr>
						</thead>
						<tbody>
							{% set serial = 1 %}
							{% for user in users %}
								<tr>
									{% include "users/components/data.twig" %}
								</tr>
								{% set serial = serial + 1 %}
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>

			<a href='./add' class="add-user btn primary">
				<i class="fa fa-plus"></i>مستخدم جديد</a>
		</div>
	</div>
{% endblock users %}
{% block js %}
	<script src="/js/users/users.js"></script>
{% endblock js %}
