{% extends "exams/exams.twig" %}

{% block child %}
	<div class="section sheet fs-sheet">
		<div class="data-table sheet fs-sheet" id="sheet">
			<div class="table-head">
				<div class="table-head-content">
					<table class="table">
						<thead>
							<tr class="head-space-holder">
								{% include "exams/sheets/fs-sheet/columns-sizes.twig" %}
							</tr>
							<tr>
								{% include "exams/sheets/fs-sheet/header/global-columns-names.twig" %}
							</tr>
							<tr>
								{% include "exams/sheets/fs-sheet/header/columns-names.twig" %}
							</tr>
							<tr>
								{% include "exams/sheets/fs-sheet/header/max-degs.twig" %}
							</tr>
							<tr>
								{% include "exams/sheets/fs-sheet/header/min-degs.twig" %}
							</tr>
						</thead>
					</table>
				</div>
			</div>

			<div class="table-body">
				<table class="table">
					<thead>
						<tr class="head-space-holder">
							{% include "exams/sheets/fs-sheet/columns-sizes.twig" %}
						</tr>
					</thead>
					<tbody>
						{% set serial = 1 %}
						{% for entity in entities %}
							<tr>
								{% include "exams/sheets/fs-sheet/data.twig" %}
							</tr>
							{% set serial = serial + 1 %}
						{% endfor %}
					</tbody>
				</table>
			</div>

		</div>
	</div>
{% endblock %}
