a{text-decoration: none;}

/*
* Users Table Styling
*/

/* Header */
.data{
    margin: 50px auto 0;
    width: 650px;
}
.users-data{
    border-collapse: collapse;
    text-align: center;
}

.users-data thead th{
    background-color: #00b894;
    cursor: pointer;
    color: #FFF;
    padding: 10px;
}
.users-data thead th:first-child{border-right: 1px solid #00b894;}
.users-data thead th:last-child{width: 150px;}
.users-data thead th:not(:last-child){
    border-left: 1px solid #f0f0f0;
}

.users-data tbody td{
    border: 1px solid #DDD;
    padding: 5px 20px;
}
.users-data tbody tr:first-child td{border-top: none;}
/*Buttons*/
.add-btn{
    display: inline-block;
    margin-top: 20px;
    font-weight: bold;
    padding: 10px ;
    background-color: teal;
    text-align: center;
    color: #FFF;
    cursor: pointer;
    border-radius: 3px;
}
.add-btn .fa{
    font-weight: normal;
    font-size: 0.8em;
    margin-left: 10px;
}
.edit-user, .delete-user{
    display: inline-block;
    padding: 5px 10px;
    font-weight: bold;
    text-align: center;
    background-color: #27ae60;
    color: #FFF;
    border-radius: 3px;
    cursor: pointer;
}
.edit-user:hover, .delete-user:hover, .add-btn:hover{
    box-shadow: 0 0 5px #777;
}
.delete-user{
    background-color: #e74c3c;
}
