{% if entity.sciences.subjectResult.total.isAbsence %}
	{% include absence %}
{% else %}
	<td>{{entity.sciences.subjectResult.total.value}}</td>
{% endif %}

{% if entity.sciences.subjectResult.netDegree.isAbsence %}
	{% include absence %}
{% else %}
	<td>{{entity.sciences.subjectResult.netDegree.value}}</td>
{% endif %}

{% if entity.sciences.subjectResult.grade.isAbsence %}
	{% include absence %}
{% else %}
	{% if entity.sciences.subjectResult.grade.value == 'F' %}
		<td class="danger">{{entity.sciences.subjectResult.grade.value}}</td>
	{% else %}
		<td>{{entity.sciences.subjectResult.grade.value}}</td>
	{% endif %}
{% endif %}
