{% import "exams/general/absence.twig" as absence %}

{% if entity.socials.fs.evaluation.isAbsence %}
	{{ absence.absenceCell(entity.socials.fs.evaluation.value) }}
{% else %}
	<td>{{ entity.socials.fs.evaluation.value }}</td>
{% endif %}

{% if entity.socials.fs.written.isAbsence %}
	{{ absence.absenceCell(entity.socials.fs.written.value) }}
{% else %}
	<td>{{entity.socials.fs.written.value}}</td>
{% endif %}
