{% extends "base.twig" %}


{% block title %}
	Admin
{% endblock title %}


{% block body %}

	<nav class="admin-nav">
		<div class="menu drop-down-menu">
			<span class="menu-title">
				<i class="fa fa-user"></i>
				<span class="user-name">{{ fullName }}</span>
				<i class="fa fa-angle-down"></i>
			</span>
			<div class="menu-content">
				<div class="menu-content-wrapper">
					<a href="/logout" class="menu-btn">
						<i class="fa fa-sign-out"></i>
						تسجيل الخروج
					</a>
				</div>
			</div>
		</div>

		<ul class="admin-links">
			<li>
				<a href="/admin/users/" class="btn">
					<i class="fa fa-users"></i>
					إدارة المستخدمين
				</a>
			</li>
			<li>
				<a href="/admin/students/" class="btn">
					<i class="fa fa-child"></i>
					شئون الطلبة
				</a>
			</li>
			<li>
				<a href="/admin/employees/" class="btn">
					<i class="fa fa-user-secret"></i>
					شئون العاملين
				</a>
			</li>
			<li>
				<a href="/admin/exams/" class="btn">
					<i class="fa fa-graduation-cap"></i>
					شئون الإمتحانات
				</a>
			</li>
		</ul>
	</nav>
	<div class="nav-holder"></div>
	{{ name }}
	<div class="content">

		{% block content %}{% endblock content %}

		{% if contentTemplate %}
			{% include contentTemplate %}
		{% endif %}

	</div>
{% endblock body %}

{% block js %}{% endblock js %}
