<div class="search-box">
	<input type="text" id="search" placeholder="بحث" name="search-query" autocomplete="off" class="text-box">
	<div class="result-body">
		<ul class="items"></ul>
	</div>
</div>
