<div class='menu left-slide-menu'>
	<span class='menu-title'>الموقف من العمل</span>
	<div class='menu-content'>
		<div class='menu-content-wrapper'>

			<a href='/employees-affairs/filter/employee_status/attitude_to_work/on_top_of_work' class='menu-btn'>على رأس العمل</a>

			<div class='menu left-slide-menu'>
				<a class='menu-title' href="/employees-affairs/filter/employee_status/attitude_to_work/leave">أجازة</a>
				<div class='menu-content'>
					<div class='menu-content-wrapper'>
						<a href='/employees-affairs/filter/employee_status/attitude_to_work/unpaid_leave' class='menu-btn'>أجازة بدون مرتب</a>
						<a href='/employees-affairs/filter/employee_status/attitude_to_work/childcare_leave' class='menu-btn'>أجازة رعاية طفل</a>
						<a href='/employees-affairs/filter/employee_status/attitude_to_work/maternity_leave' class='menu-btn'>أجازة وضع</a>
					</div>
				</div>
			</div>

			<div class='menu left-slide-menu'>
				<a href='/employees-affairs/filter/employee_status/attitude_to_work/??????' class='menu-title'>إنهاء خدمة نهائى</a>
				<div class='menu-content'>
					<div class='menu-content-wrapper'>
						<a href='/employees-affairs/filter/employee_status/attitude_to_work/RESIGNED' class='menu-btn'>استقال</a>
						<a href='/employees-affairs/filter/employee_status/attitude_to_work/PENSIONER' class='menu-btn'>بالمعاش</a>
						<a href='/employees-affairs/filter/employee_status/attitude_to_work/DIED' class='menu-btn'>متوفى</a>
						<a href='/employees-affairs/filter/employee_status/attitude_to_work/FIRED' class='menu-btn'>مفصول</a>
					</div>
				</div>
			</div>

			<a href='/employees-affairs/filter/employee_status/attitude_to_work/moved' class='menu-btn'>تم نقله</a>
			<a href='/employees-affairs/filter/employee_status/attitude_to_work/recrut' class='menu-btn'>مجند</a>
			<a href='/employees-affairs/filter/employee_status/attitude_to_work/loaned' class='menu-btn'>معار للخارج</a>
			<a href='/employees-affairs/filter/employee_status/attitude_to_work/out_of_work' class='menu-btn'>منقطع</a>
		</div>
	</div>
</div>
