<div class='menu left-slide-menu'>
	<span class='menu-title'>نوع الوظيفة</span>
	<div class='menu-content'>
		<div class='menu-content-wrapper'>
			<a href='/employees-affairs/filter/personal_data/employee_type/management' class='menu-btn'>إدارة مدرسية</a>
			<a href='/employees-affairs/filter/personal_data/employee_type/teacher' class='menu-btn'>مدرس</a>
			<a href='/employees-affairs/filter/personal_data/employee_type/employee' class='menu-btn'>إداري</a>
			<a href='/employees-affairs/filter/personal_data/employee_type/worker' class='menu-btn'>عامل</a>
		</div>
	</div>
</div>
