<div class='menu left-slide-menu'>
	<span class='menu-title'>التسكين بالمدرسة</span>
	<div class='menu-content'>
		<div class='menu-content-wrapper'>
			<a href='/employees-affairs' class='menu-btn'>أصلي</a>
			<div class='menu left-slide-menu'>
				<a href='/employees-affairs/filter/employee_status/deputed' class='menu-title'>منتدب</a>
				<div class='menu-content'>
					<div class='menu-content-wrapper'>
						<a href='/employees-affairs/filter/employee_status/deputed' class='menu-btn'>منتدب إلى الإدارة</a>
						<a href='/employees-affairs/filter/employee_status/deputed' class='menu-btn'>منتدب خارج الإدارة</a>
						<a href='/employees-affairs/filter/employee_status/deputed' class='menu-btn'>منتدب خارج المحافظة</a>
						<a href='/employees-affairs/filter/employee_status/deputed' class='menu-btn'>منتدب داخل الوزارة</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
