<div class='menu left-slide-menu'>
	<span class='menu-title'>النوع</span>
	<div class='menu-content'>
		<div class='menu-content-wrapper'>
			<a href='/employees-affairs/filter/personal_data/gender/male' class='menu-btn'>ذكر</a>
			<a href='/employees-affairs/filter/personal_data/gender/female' class='menu-btn'>أنثى</a>
		</div>
	</div>
</div>
