<div class='menu left-slide-menu'>
	<span class='menu-title'>الجنسية</span>
	<div class='menu-content'>
		<div class='menu-content-wrapper'>
			<a href='/employees-affairs/filter/personal_data/nationality/EGY' class='menu-btn'>مصري</a>
			<a href='/employees-affairs/filter/personal_data/nationality/NON_EGY' class='menu-btn'>غير مصري</a>
		</div>
	</div>
</div>
