<div class='menu left-slide-menu'>
	<span class='menu-title'>الديانة</span>
	<div class='menu-content'>
		<div class='menu-content-wrapper'>
			<a href='/employees-affairs/filter/personal_data/religion/muslim' class='menu-btn'>مسلم</a>
			<a href='/employees-affairs/filter/personal_data/religion/christisn' class='menu-btn'>مسيحي</a>
		</div>
	</div>
</div>
