<div class='menu left-slide-menu'>
	<span class='menu-title'>الحالة الإجتماعية</span>
	<div class='menu-content'>
		<div class='menu-content-wrapper'>
			<a href='/employees-affairs/filter/social_status/martial_status/married' class='menu-btn'>متزوج</a>
			<a href='/employees-affairs/filter/social_status/martial_status/single' class='menu-btn'>أعزب</a>
			<a href='/employees-affairs/filter/social_status/martial_status/widower' class='menu-btn'>أرمل</a>
			<a href='/employees-affairs/filter/social_status/martial_status/divorced' class='menu-btn'>مطلق</a>
		</div>
	</div>
</div>
