{% extends "base.twig" %}


{% block content %}

	<div class="employees-data">
		<div class='menu-bar'>
			{% include "employees-affairs/components/employees-menu-bar.twig" %}
		</div>

		{% block employeesContent %}{% endblock employeesContent %}
	</div>
{% endblock content %}
