{% extends "base.twig" %}


{% block content %}

	<div class="employees-data">
		<div class="header">
			<div class='menu-bar'>
				{% include "employees-affairs/components/employees-menu-bar.twig" %}
				{% include "employees-affairs/components/search-box/search-box.twig" %}
			</div>
		</div>

		{% block employeesContent %}{% endblock employeesContent %}
	</div>
{% endblock content %}
