{% extends "base.twig" %}

{% block header %}
	{% include "employees-affairs/components/header.twig" %}
{% endblock %}

{% block content %}

	<div class="employees-data">
		{% block employeesContent %}{% endblock employeesContent %}
	</div>
{% endblock content %}
