{% if entity.religion.fs.evaluation.isAbsence %}
	{% include absence %}
{% else %}
	<td>{{ entity.religion.fs.evaluation.value }}</td>
{% endif %}

{% if entity.religion.fs.written.isAbsence %}
	{% include absence %}
{% else %}
	<td>{{entity.religion.fs.written.value}}</td>
{% endif %}
