{% import "exams/general/absence.twig" as absence %}

{% if entity.religion.ss.evaluation.isAbsence %}
	{{ absence.absenceCell(entity.religion.ss.evaluation.value) }}
{% else %}
	<td>{{ entity.religion.ss.evaluation.value }}</td>
{% endif %}

{% if entity.religion.ss.written.isAbsence %}
	{{ absence.absenceCell(entity.religion.ss.written.value) }}
{% else %}
	<td>{{entity.religion.ss.written.value}}</td>
{% endif %}
