{# arabic #}

<th rowspan="2">
	<span>30</span>
</th>
<th rowspan="2">
	<span>70</span>
</th>
{% include "exams/sheets/fs-sheet/header/subject-max-total.twig" %}
<th rowspan="1" class="max-deg">
	<span>40</span>
</th>

{# ENGLISH #}
<th rowspan="2">
	<span>30</span>
</th>
<th rowspan="2">
	<span>70</span>
</th>
{% include "exams/sheets/fs-sheet/header/subject-max-total.twig" %}
<th rowspan="1" class="max-deg">
	<span>30</span>
</th>

{# SOCIALS #}
<th rowspan="2">
	<span>30</span>
</th>
<th rowspan="2">
	<span>70</span>
</th>
{% include "exams/sheets/fs-sheet/header/subject-max-total.twig" %}
<th rowspan="1" class="max-deg">
	<span>20</span>
</th>

{# MATH #}
<th rowspan="2">
	<span>30</span>
</th>
<th rowspan="2">
	<span>35</span>
</th>
<th rowspan="2">
	<span>35</span>
</th>
{% include "exams/sheets/fs-sheet/header/subject-max-total.twig" %}
<th rowspan="1" class="max-deg">
	<span>30</span>
</th>

{# SCIENCES #}
<th rowspan="2">
	<span>30</span>
</th>
<th rowspan="2">
	<span>14</span>
</th>
<th rowspan="2">
	<span>56</span>
</th>
{% include "exams/sheets/fs-sheet/header/subject-max-total.twig" %}
<th rowspan="1" class="max-deg">
	<span>20</span>
</th>

{# BASE_TOTAL #}
<th rowspan="1" class="max-deg">
	<span>140</span>
</th>

{# ACTIVITY_1 #}
<th rowspan="1" class="max-deg">
	<span>10</span>
</th>

{# ACTIVITY_2 #}
<th rowspan="1" class="max-deg">
	<span>10</span>
</th>

{# OVERALL_TOTAL #}
<th rowspan="1" class="max-deg">
	<span>160</span>
</th>

{# RELIGION #}
<th rowspan="2">
	<span>30</span>
</th>
<th rowspan="2">
	<span>70</span>
</th>
{% include "exams/sheets/fs-sheet/header/subject-max-total.twig" %}
<th rowspan="1" class="max-deg">
	<span>20</span>
</th>

{# COMPUTER #}
<th rowspan="2">
	<span>30</span>
</th>
<th rowspan="2">
	<span>14</span>
</th>
<th rowspan="2">
	<span>56</span>
</th>
{% include "exams/sheets/fs-sheet/header/subject-max-total.twig" %}
<th rowspan="1" class="max-deg">
	<span>10</span>
</th>

{# DRAW #}
<th rowspan="2">
	<span>30</span>
</th>
<th rowspan="2">
	<span>70</span>
</th>
{% include "exams/sheets/fs-sheet/header/subject-max-total.twig" %}
<th rowspan="1" class="max-deg">
	<span>10</span>
</th>

{# SPORTS #}
<th rowspan="1" class="max-deg">
	<span>20</span>
</th>
