<div class='menu drop-down-menu profile-menu'>
	<span class='menu-title avatar'>شئون العاملين</span>
	<div class="menu-content">
		<div class="menu-content-wrapper">
			<div class="menu drop-down-menu">
				<span class="menu-title">
					<i class="fa fa-user"></i>
					<span class="user-name">{{ fullName }}</span>
					<i class="fa fa-angle-down"></i>
				</span>
				<div class="menu-content">
					<div class="menu-content-wrapper">
						<a href="/logout" class="menu-btn">
							<i class="fa fa-sign-out"></i>
							تسجيل الخروج
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class='menu drop-down-menu'>
	<span class='menu-title'>النوع</span>
	<div class='menu-content'>
		<div class='menu-content-wrapper'>
			<a href='/employees-affairs/gender/male' class='menu-btn'>ذكر</a>
			<a href='/employees-affairs/gender/female' class='menu-btn'>أنثى</a>
		</div>
	</div>
</div>

<div class='menu drop-down-menu'>
	<span class='menu-title'>اليانة</span>
	<div class='menu-content'>
		<div class='menu-content-wrapper'>
			<a href='/employees-affairs/religion/MUSLIM' class='menu-btn'>مسلم</a>
			<a href='/employees-affairs/religion/CHRISTIAN' class='menu-btn'>مسيحي</a>
		</div>
	</div>
</div>

<div class='menu drop-down-menu'>
	<span class='menu-title'>الجنسية</span>
	<div class='menu-content'>
		<div class='menu-content-wrapper'>
			<a href='/employees-affairs/nationality/EGY' class='menu-btn'>مصري</a>
			<a href='/employees-affairs/nationality/NON_EGY' class='menu-btn'>غير مصري</a>
		</div>
	</div>
</div>

<div class='menu drop-down-menu'>
	<span class='menu-title'>نوع الوظيفة</span>
	<div class='menu-content'>
		<div class='menu-content-wrapper'>
			<a href='/employees-affairs/employee_type/MANAGEMENT' class='menu-btn'>إدارة مدرسية</a>
			<a href='/employees-affairs/employee_type/TEACHER' class='menu-btn'>مدرس</a>
			<a href='/employees-affairs/employee_type/EMPLOYEE' class='menu-btn'>إداري</a>
			<a href='/employees-affairs/employee_type/WORKER' class='menu-btn'>عامل</a>
		</div>
	</div>
</div>

<div class='menu drop-down-menu'>
	<span class='menu-title'>الموقف من العمل</span>
	<div class='menu-content'>
		<div class='menu-content-wrapper'>

			<a href='/employees-affairs/attitude_to_work/ON_TOP_OF_WORK' class='menu-btn'>على رأس العمل</a>

			<div class='menu left-slide-menu'>
				<a class='menu-title' href="/employees-affairs/attitude_to_work/????LEAVE">أجازة</a>
				<div class='menu-content'>
					<div class='menu-content-wrapper'>
						<a href='/employees-affairs/attitude_to_work/UNPAID_LEAVE' class='menu-btn'>أجازة بدون مرتب</a>
						<a href='/employees-affairs/attitude_to_work/CHILDCARE_LEAVE' class='menu-btn'>أجازة رعاية طفل</a>
						<a href='/employees-affairs/attitude_to_work/MATERNITY_LEAVE' class='menu-btn'>أجازة وضع</a>
					</div>
				</div>
			</div>

			<div class='menu left-slide-menu'>
				<a href='/employees-affairs/attitude_to_work/??????' class='menu-title'>إنهاء خدمة نهائى</a>
				<div class='menu-content'>
					<div class='menu-content-wrapper'>
						<a href='/employees-affairs/attitude_to_work/RESIGNED' class='menu-btn'>استقال</a>
						<a href='/employees-affairs/attitude_to_work/PENSIONER' class='menu-btn'>بالمعاش</a>
						<a href='/employees-affairs/attitude_to_work/DIED' class='menu-btn'>متوفى</a>
						<a href='/employees-affairs/attitude_to_work/FIRED' class='menu-btn'>مفصول</a>
					</div>
				</div>
			</div>

			<a href='/employees-affairs/attitude_to_work/MOVED' class='menu-btn'>تم نقله</a>
			<a href='/employees-affairs/attitude_to_work/RECRUIT' class='menu-btn'>مجند</a>
			<a href='/employees-affairs/attitude_to_work/LOANED' class='menu-btn'>معار للخارج</a>
			<a href='/employees-affairs/attitude_to_work/OUT_OF_WORK' class='menu-btn'>منقطع</a>
		</div>
	</div>
</div>

<div class='menu drop-down-menu'>
	<span class='menu-title'>التسكين بالمدرسة</span>
	<div class='menu-content'>
		<div class='menu-content-wrapper'>
			<a href='/employees-affairs' class='menu-btn'>أصلي</a>
			<div class='menu left-slide-menu'>
				<a href='/employees-affairs/employee_status/DEPUTED' class='menu-title'>منتدب</a>
				<div class='menu-content'>
					<div class='menu-content-wrapper'>
						<a href='/employees-affairs/employee_status/DEPUTED' class='menu-btn'>منتدب إلى الإدارة</a>
						<a href='/employees-affairs/employee_status/DEPUTED' class='menu-btn'>منتدب خارج الإدارة</a>
						<a href='/employees-affairs/employee_status/DEPUTED' class='menu-btn'>منتدب خارج المحافظة</a>
						<a href='/employees-affairs/employee_status/DEPUTED' class='menu-btn'>منتدب داخل الوزارة</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class='menu drop-down-menu'>
	<span class='menu-title'>الحالة الإجتماعية</span>
	<div class='menu-content'>
		<div class='menu-content-wrapper'>
			<a href='/employees-affairs/martial_status/MARRIED' class='menu-btn'>متزوج</a>
			<a href='/employees-affairs/martial_status/SINGLE' class='menu-btn'>أعزب</a>
			<a href='/employees-affairs/martial_status/WIDOWER' class='menu-btn'>أرمل</a>
			<a href='/employees-affairs/martial_status/DIVORCED' class='menu-btn'>مطلق</a>
		</div>
	</div>
</div>
