<div class='menu drop-down-menu profile-menu'>
	<span class='menu-title avatar'>شئون العاملين</span>
	<div class="menu-content">
		<div class="menu-content-wrapper">
			<div class="menu drop-down-menu">
				<span class="menu-title">
					<i class="fa fa-user"></i>
					<span class="user-name">{{ fullName }}</span>
					<i class="fa fa-angle-down"></i>
				</span>
				<div class="menu-content">
					<div class="menu-content-wrapper">
						<a href="/logout" class="menu-btn">
							<i class="fa fa-sign-out"></i>
							تسجيل الخروج
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="menu">
	<span class='menu-title'>عرض</span>
	<div class='menu-content'>
		<div class='menu-content-wrapper'>

			<div class='menu left-slide-menu'>
				<span class='menu-title'>النوع</span>
				<div class='menu-content'>
					<div class='menu-content-wrapper'>
						<a href='/employees-affairs/show/gender/male' class='menu-btn'>ذكر</a>
						<a href='/employees-affairs/show/gender/female' class='menu-btn'>أنثى</a>
					</div>
				</div>
			</div>

			<div class='menu left-slide-menu'>
				<span class='menu-title'>اليانة</span>
				<div class='menu-content'>
					<div class='menu-content-wrapper'>
						<a href='/employees-affairs/show/religion/muslim' class='menu-btn'>مسلم</a>
						<a href='/employees-affairs/show/religion/christisn' class='menu-btn'>مسيحي</a>
					</div>
				</div>
			</div>

			<div class='menu left-slide-menu'>
				<span class='menu-title'>الجنسية</span>
				<div class='menu-content'>
					<div class='menu-content-wrapper'>
						<a href='/employees-affairs/show/nationality/EGY' class='menu-btn'>مصري</a>
						<a href='/employees-affairs/show/nationality/NON_EGY' class='menu-btn'>غير مصري</a>
					</div>
				</div>
			</div>

			<div class='menu left-slide-menu'>
				<span class='menu-title'>نوع الوظيفة</span>
				<div class='menu-content'>
					<div class='menu-content-wrapper'>
						<a href='/employees-affairs/show/employee_type/management' class='menu-btn'>إدارة مدرسية</a>
						<a href='/employees-affairs/show/employee_type/teacher' class='menu-btn'>مدرس</a>
						<a href='/employees-affairs/show/employee_type/employee' class='menu-btn'>إداري</a>
						<a href='/employees-affairs/show/employee_type/worker' class='menu-btn'>عامل</a>
					</div>
				</div>
			</div>

			<div class='menu left-slide-menu'>
				<span class='menu-title'>الموقف من العمل</span>
				<div class='menu-content'>
					<div class='menu-content-wrapper'>

						<a href='/employees-affairs/show/attitude_to_work/on_top_of_work' class='menu-btn'>على رأس العمل</a>

						<div class='menu left-slide-menu'>
							<a class='menu-title' href="/employees-affairs/show/attitude_to_work/leave">أجازة</a>
							<div class='menu-content'>
								<div class='menu-content-wrapper'>
									<a href='/employees-affairs/show/attitude_to_work/unpaid_leave' class='menu-btn'>أجازة بدون مرتب</a>
									<a href='/employees-affairs/show/attitude_to_work/childcare_leave' class='menu-btn'>أجازة رعاية طفل</a>
									<a href='/employees-affairs/show/attitude_to_work/maternity_leave' class='menu-btn'>أجازة وضع</a>
								</div>
							</div>
						</div>

						<div class='menu left-slide-menu'>
							<a href='/employees-affairs/show/attitude_to_work/??????' class='menu-title'>إنهاء خدمة نهائى</a>
							<div class='menu-content'>
								<div class='menu-content-wrapper'>
									<a href='/employees-affairs/show/attitude_to_work/RESIGNED' class='menu-btn'>استقال</a>
									<a href='/employees-affairs/show/attitude_to_work/PENSIONER' class='menu-btn'>بالمعاش</a>
									<a href='/employees-affairs/show/attitude_to_work/DIED' class='menu-btn'>متوفى</a>
									<a href='/employees-affairs/show/attitude_to_work/FIRED' class='menu-btn'>مفصول</a>
								</div>
							</div>
						</div>

						<a href='/employees-affairs/show/attitude_to_work/moved' class='menu-btn'>تم نقله</a>
						<a href='/employees-affairs/show/attitude_to_work/recrut' class='menu-btn'>مجند</a>
						<a href='/employees-affairs/show/attitude_to_work/loaned' class='menu-btn'>معار للخارج</a>
						<a href='/employees-affairs/show/attitude_to_work/out_of_work' class='menu-btn'>منقطع</a>
					</div>
				</div>
			</div>

			<div class='menu left-slide-menu'>
				<span class='menu-title'>التسكين بالمدرسة</span>
				<div class='menu-content'>
					<div class='menu-content-wrapper'>
						<a href='/employees-affairs' class='menu-btn'>أصلي</a>
						<div class='menu left-slide-menu'>
							<a href='/employees-affairs/show/employee_status/deputed' class='menu-title'>منتدب</a>
							<div class='menu-content'>
								<div class='menu-content-wrapper'>
									<a href='/employees-affairs/show/employee_status/deputed' class='menu-btn'>منتدب إلى الإدارة</a>
									<a href='/employees-affairs/show/employee_status/deputed' class='menu-btn'>منتدب خارج الإدارة</a>
									<a href='/employees-affairs/show/employee_status/deputed' class='menu-btn'>منتدب خارج المحافظة</a>
									<a href='/employees-affairs/show/employee_status/deputed' class='menu-btn'>منتدب داخل الوزارة</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class='menu left-slide-menu'>
				<span class='menu-title'>الحالة الإجتماعية</span>
				<div class='menu-content'>
					<div class='menu-content-wrapper'>
						<a href='/employees-affairs/show/martial_status/married' class='menu-btn'>متزوج</a>
						<a href='/employees-affairs/show/martial_status/single' class='menu-btn'>أعزب</a>
						<a href='/employees-affairs/show/martial_status/widower' class='menu-btn'>أرمل</a>
						<a href='/employees-affairs/show/martial_status/divorced' class='menu-btn'>مطلق</a>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
