.table {
  $red: #f3558e;
  $yellow: #faee1c;

  td,
  th {

    &.warning {
      color: $danger;
      background-color: $warning;
    }

    &.danger {
      color: $danger;
      background-color: $pink;
    }
  }
}