{% extends 'base.twig' %}

{% set sectionTitle = "الكنترول" %}

{% block header %}
	{% include "exams/components/header.twig" %}
{% endblock %}

{% block content %}
	<div class='content exams-content'>
		{% block child %}{% endblock %}
	</div>
{% endblock content %}
