<!-- students data -->
<th colspan="1" rowspan="4" class="cell-size-1 col-head data rotated-head">
	<span>مسلسل</span>
</th>
<th colspan="1" rowspan="4" class="cell-size-1 col-head data rotated-head">
	<span>رقم الجلوس</span>
</th>
<th colspan="1" rowspan="4" class="cell-size-3 col-head data             ">
	<span>اسم الطالب</span>
</th>
<th colspan="1" rowspan="4" class="cell-size-1 col-head data rotated-head">
	<span>الفصل</span>
</th>
<th colspan="1" rowspan="4" class="cell-size-1 col-head data rotated-head">
	<span>الصف</span>
</th>
<th colspan="1" rowspan="4" class="cell-size-1 col-head data rotated-head">
	<span>النوع</span>
</th>
<th colspan="1" rowspan="4" class="cell-size-1 col-head data rotated-head">
	<span>حالة القيد</span>
</th>
<th colspan="1" rowspan="4" class="cell-size-1 col-head data rotated-head">
	<span>الديانة</span>
</th>
<th colspan="1" rowspan="4" class="cell-size-2 col-head data             ">
	<span>تاريخ الميلاد</span>
</th>
<th colspan="3" rowspan="1" class="cell-size-1                           ">
	<span>السن في أول أكتوبر</span>
</th>
<th colspan="1" rowspan="4" class="cell-size-1 col-head data rotated-head">
	<span>سري 1</span>
</th>
<th colspan="1" rowspan="4" class="cell-size-1 col-head data rotated-head">
	<span>سري 2</span>
</th>

<!-- arabic -->
<th colspan="2" rowspan="1" class="                                 ">
	<span>التيرم الأول</span>
</th>
<th colspan="2" rowspan="1" class="                                 ">
	<span>التيرم الثاني</span>
</th>
<th colspan="1" rowspan="2" class="cell-size-1 col-head rotated-head">
	<span>مجموع المادة</span>
</th>
<th colspan="1" rowspan="2" class="cell-size-1 col-head rotated-head">
	<span>درجة الطالب</span>
</th>
<th colspan="1" rowspan="4" class="cell-size-1 col-head rotated-head">
	<span>التقدير العام للمادة</span>
</th>

<!-- english -->
<th colspan="2" rowspan="1" class="                                 ">
	<span>التيرم الأول</span>
</th>
<th colspan="2" rowspan="1" class="                                 ">
	<span>التيرم الثاني</span>
</th>
<th colspan="1" rowspan="2" class="cell-size-1 col-head rotated-head">
	<span>مجموع المادة</span>
</th>
<th colspan="1" rowspan="2" class="cell-size-1 col-head rotated-head">
	<span>درجة الطالب</span>
</th>
<th colspan="1" rowspan="4" class="cell-size-1 col-head rotated-head">
	<span>التقدير العام للمادة</span>
</th>

<!-- socials -->
<th colspan="2" rowspan="1" class="                                 ">
	<span>التيرم الأول</span>
</th>
<th colspan="2" rowspan="1" class="                                 ">
	<span>التيرم الثاني</span>
</th>
<th colspan="1" rowspan="2" class="cell-size-1 col-head rotated-head">
	<span>مجموع المادة</span>
</th>
<th colspan="1" rowspan="2" class="cell-size-1 col-head rotated-head">
	<span>درجة الطالب</span>
</th>
<th colspan="1" rowspan="4" class="cell-size-1 col-head rotated-head">
	<span>التقدير العام للمادة</span>
</th>

<!-- math -->
<th colspan="3" rowspan="1" class="                                 ">
	<span>التيرم الأول</span>
</th>
<th colspan="4" rowspan="1" class="                                 ">
	<span>التيرم الثاني</span>
</th>
<th colspan="1" rowspan="2" class="cell-size-1 col-head rotated-head">
	<span>مجموع المادة</span>
</th>
<th colspan="1" rowspan="2" class="cell-size-1 col-head rotated-head">
	<span>درجة الطالب</span>
</th>
<th colspan="1" rowspan="4" class="cell-size-1 col-head rotated-head">
	<span>التقدير العام للمادة</span>
</th>

<!-- sciences -->
<th colspan="3" rowspan="1" class="                                 ">
	<span>التيرم الأول</span>
</th>
<th colspan="4" rowspan="1" class="                                 ">
	<span>التيرم الثاني</span>
</th>
<th colspan="1" rowspan="2" class="cell-size-1 col-head rotated-head">
	<span>مجموع المادة</span>
</th>
<th colspan="1" rowspan="2" class="cell-size-1 col-head rotated-head">
	<span>درجة الطالب</span>
</th>
<th colspan="1" rowspan="4" class="cell-size-1 col-head rotated-head">
	<span>التقدير العام للمادة</span>
</th>

<!-- total -->
<th colspan="1" rowspan="2" class="cell-size-1-1 col-head rotated-head">
	<span>مجموع الطالب</span>
</th>
<th colspan="1" rowspan="4" class="cell-size-1-1 col-head rotated-head">
	<span>التقدير العام</span>
</th>

<!-- activities -->
<th colspan="5" rowspan="1" class="                                 ">
	<span>نشاط 1</span>
</th>
<th colspan="5" rowspan="1" class="                                 ">
	<span>نشاط 2</span>
</th>

<!-- religion -->
<th colspan="2" rowspan="1" class="                                 ">
	<span>التيرم الأول</span>
</th>
<th colspan="2" rowspan="1" class="                                 ">
	<span>التيرم الثاني</span>
</th>
<th colspan="1" rowspan="2" class="cell-size-1 col-head rotated-head">
	<span>مجموع المادة</span>
</th>
<th colspan="1" rowspan="2" class="cell-size-1 col-head rotated-head">
	<span>درجة الطالب</span>
</th>
<th colspan="1" rowspan="4" class="cell-size-1 col-head rotated-head">
	<span>التقدير العام للمادة</span>
</th>

<!-- computer -->
<th colspan="3" rowspan="1" class="                                 ">
	<span>التيرم الأول</span>
</th>
<th colspan="4" rowspan="1" class="                                 ">
	<span>التيرم الثاني</span>
</th>
<th colspan="1" rowspan="2" class="cell-size-1 col-head rotated-head">
	<span>مجموع المادة</span>
</th>
<th colspan="1" rowspan="2" class="cell-size-1 col-head rotated-head">
	<span>درجة الطالب</span>
</th>
<th colspan="1" rowspan="4" class="cell-size-1 col-head rotated-head">
	<span>التقدير العام للمادة</span>
</th>

<!-- draw -->
<th colspan="2" rowspan="1" class="                                 ">
	<span>التيرم الأول</span>
</th>
<th colspan="2" rowspan="1" class="                                 ">
	<span>التيرم الثاني</span>
</th>
<th colspan="1" rowspan="2" class="cell-size-1 col-head rotated-head">
	<span>مجموع المادة</span>
</th>
<th colspan="1" rowspan="2" class="cell-size-1 col-head rotated-head">
	<span>درجة الطالب</span>
</th>
<th colspan="1" rowspan="4" class="cell-size-1 col-head rotated-head">
	<span>التقدير العام للمادة</span>
</th>

<!-- soprts -->
<th colspan="1" rowspan="2" class="cell-size-1 col-head rotated-head">
	<span>التيرم الأول</span>
</th>
<th colspan="1" rowspan="2" class="cell-size-1 col-head rotated-head">
	<span>التيرم الثاني</span>
</th>
<th colspan="1" rowspan="2" class="cell-size-1 col-head rotated-head">
	<span>درجة الطالب</span>
</th>
<th colspan="1" rowspan="4" class="cell-size-1 col-head rotated-head">
	<span>التقدير العام للمادة</span>
</th>

<th colspan="1" rowspan="4" class="cell-size-2                      ">
	<span>حالة الطالب</span>
</th>
<th colspan="1" rowspan="4" class="cell-size-3                      ">
	<span>مواد الدور الثاني</span>
</th>
