<!-- student age-->
<th colspan="1" rowspan="3" class="col-head">
	<span>يوم</span>
</th>
<th colspan="1" rowspan="3" class="col-head">
	<span>شهر</span>
</th>
<th colspan="1" rowspan="3" class="col-head">
	<span>سنة</span>
</th>

<!-- arabic -->
<th colspan="1" rowspan="1" class="rotated-head">
	<span>تقويمات</span>
</th>
<th colspan="1" rowspan="1" class="rotated-head">
	<span>تحريري</span>
</th>
<th colspan="1" rowspan="1" class="rotated-head">
	<span>تقويمات</span>
</th>
<th colspan="1" rowspan="1" class="rotated-head">
	<span>تحريري</span>
</th>

<!-- english -->
<th colspan="1" rowspan="1" class="rotated-head">
	<span>تقويمات</span>
</th>
<th colspan="1" rowspan="1" class="rotated-head">
	<span>تحريري</span>
</th>
<th colspan="1" rowspan="1" class="rotated-head">
	<span>تقويمات</span>
</th>
<th colspan="1" rowspan="1" class="rotated-head">
	<span>تحريري</span>
</th>

<!-- socials -->
<th colspan="1" rowspan="1" class="rotated-head">
	<span>تقويمات</span>
</th>
<th colspan="1" rowspan="1" class="rotated-head">
	<span>تحريري</span>
</th>
<th colspan="1" rowspan="1" class="rotated-head">
	<span>تقويمات</span>
</th>
<th colspan="1" rowspan="1" class="rotated-head">
	<span>تحريري</span>
</th>

<!-- math -->
<th colspan="1" rowspan="1" class="rotated-head">
	<span>تقويمات</span>
</th>
<th colspan="1" rowspan="1" class="rotated-head">
	<span>جبر</span>
</th>
<th colspan="1" rowspan="1" class="rotated-head">
	<span>هندسة</span>
</th>
<th colspan="1" rowspan="1" class="rotated-head">
	<span>تقويمات</span>
</th>
<th colspan="1" rowspan="1" class="rotated-head">
	<span>جبر</span>
</th>
<th colspan="1" rowspan="1" class="rotated-head">
	<span>هندسة</span>
</th>
<th colspan="1" rowspan="1" class="rotated-head">
	<span>مجموع الرياضيات</span>
</th>

<!-- sciences -->
<th colspan="1" rowspan="1" class="rotated-head">
	<span>تقويمات</span>
</th>
<th colspan="1" rowspan="1" class="rotated-head">
	<span>عملي</span>
</th>
<th colspan="1" rowspan="1" class="rotated-head">
	<span>تحريري</span>
</th>
<th colspan="1" rowspan="1" class="rotated-head">
	<span>تقويمات</span>
</th>
<th colspan="1" rowspan="1" class="rotated-head">
	<span>عملي</span>
</th>
<th colspan="1" rowspan="1" class="rotated-head">
	<span>تحريري</span>
</th>
<th colspan="1" rowspan="1" class="rotated-head">
	<span>مجموع العلوم</span>
</th>


<!-- activities -->
<th colspan="1" rowspan="1" class="rotated-head">
	<span>تقويمات التيرم الأول</span>
</th>
<th colspan="1" rowspan="1" class="rotated-head">
	<span>تقويمات التيرم الثاني</span>
</th>
<th colspan="1" rowspan="1" class="rotated-head">
	<span>مجموع الفصلين</span>
</th>
<th colspan="1" rowspan="1" class="rotated-head">
	<span>درجة الطالب</span>
</th>
<th colspan="1" rowspan="3" class="rotated-head">
	<span>التقدير العام للنشاط</span>
</th>

<th colspan="1" rowspan="1" class="rotated-head">
	<span>تقويمات التيرم الأول</span>
</th>
<th colspan="1" rowspan="1" class="rotated-head">
	<span>تقويمات التيرم الثاني</span>
</th>
<th colspan="1" rowspan="1" class="rotated-head">
	<span>مجموع الفصلين</span>
</th>
<th colspan="1" rowspan="1" class="rotated-head">
	<span>درجة الطالب</span>
</th>
<th colspan="1" rowspan="3" class="rotated-head">
	<span>التقدير العام للنشاط</span>
</th>

<!-- religion -->
<th colspan="1" rowspan="1" class="rotated-head">
	<span>تقويمات</span>
</th>
<th colspan="1" rowspan="1" class="rotated-head">
	<span>تحريري</span>
</th>
<th colspan="1" rowspan="1" class="rotated-head">
	<span>تقويمات</span>
</th>
<th colspan="1" rowspan="1" class="rotated-head">
	<span>تحريري</span>
</th>

<!-- computer -->
<th colspan="1" rowspan="1" class="rotated-head">
	<span>تقويمات</span>
</th>
<th colspan="1" rowspan="1" class="rotated-head">
	<span>عملي</span>
</th>
<th colspan="1" rowspan="1" class="rotated-head">
	<span>تحريري</span>
</th>
<th colspan="1" rowspan="1" class="rotated-head">
	<span>تقويمات</span>
</th>
<th colspan="1" rowspan="1" class="rotated-head">
	<span>عملي</span>
</th>
<th colspan="1" rowspan="1" class="rotated-head">
	<span>تحريري</span>
</th>
<th colspan="1" rowspan="1" class="rotated-head">
	<span>مجموع الحاسب</span>
</th>

<!-- draw -->
<th colspan="1" rowspan="1" class="rotated-head">
	<span>تقويمات</span>
</th>
<th colspan="1" rowspan="1" class="rotated-head">
	<span>تحريري</span>
</th>
<th colspan="1" rowspan="1" class="rotated-head">
	<span>تقويمات</span>
</th>
<th colspan="1" rowspan="1" class="rotated-head">
	<span>تحريري</span>
</th>
