<fieldset>
	<legend>العنوان</legend>
	<div class="form-row">
		<div class="form-row-content">
			<div class="form-item-container governorate">
				<label for="governorate" class="lbl">المحافظة</label>
				<select name="governorate" id="governorate" class="combo-box">
					{% for governorate in governorates %}
						<option value="{{ governorate.id }}" {% if address['governorate']['id'] == governorate.id %} selected {% endif %}>{{ governorate.name }}</option>
					{% endfor %}
				</select>
			</div>

			<div class="form-item-container city">
				<label for="city" class="lbl">المدينة</label>
				<select name="city" id="city" class="combo-box">
					{% for city in cities %}
						<option value="{{ city.id }}" {% if address['city']['id'] == city.id %} selected {% endif %}>{{ city.name }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
	</div>

	<div class="form-row">
		<div class="form-row-content">
			<div class="form-item-container district">
				<label for="district" class="lbl">المنطقة أو القرية</label>
				<input type="text" name="district" id="district" class="text-box">
			</div>

			<div class="form-item-container street">
				<label for="street" class="lbl">الشارع</label>
				<input type="text" name="street" id="street" class="text-box">
			</div>

			<div class="form-item-container house">
				<label for="house" class="lbl">المنزل</label>
				<input type="text" name="house" id="house" class="text-box">
			</div>
		</div>
	</div>
</fieldset>
