<div id="buttons-container" class="form-item-container">
	<div class="content-wrapper">
		<input class="btn success" type="submit" value="حفظ" id="submit">
		<button class="btn warning" type="reset">إلغاء</button>
	</div>
</div>
