<form method="POST">
	{% include "employees-affairs/edit-employee/components/personal-data.twig" %}

	{% include "employees-affairs/edit-employee/components/job-data.twig" %}

	{% include "employees-affairs/edit-employee/components/phone.twig" %}

	{% include "employees-affairs/edit-employee/components/social-data.twig" %}

	{% include "employees-affairs/edit-employee/components/address.twig" %}

	{% include "employees-affairs/edit-employee/components/buttons.twig" %}
</form>
