{% set personalData = employee['employee']['personal-data'] %}
{% set socialStatus = employee['social-status'] %}
{% set employeeStatus = employee['employee-status'] %}
{% set phone = employee['employee']['phone'] %}
{% set address = employee['employee']['address'] %}


<form method="POST" class="edit-employee-form">
	{% include "employees-affairs/edit-employee/components/personal-data.twig" %}

	{% include "employees-affairs/edit-employee/components/social-data.twig" %}

	{% include "employees-affairs/edit-employee/components/job-data.twig" %}

	{% include "employees-affairs/edit-employee/components/phone.twig" %}

	{% include "employees-affairs/edit-employee/components/address.twig" %}

	{% include "employees-affairs/edit-employee/components/buttons.twig" %}
</form>
