<fieldset id="employee-status">
	<legend>بيانات وظيفية</legend>
	{% include "employees-affairs/edit-employee/components/is-dirty.twig" with { status: 0, name: "employee-status[is-dirty]" }%}
	<div class="form-row">
		<div class="form-row-content">


			<div class="form-item-container attitude-to-work">
				<label for="attitude-to-work" class="lbl">الموقف من العمل</label>
				<select name="employee-status[attitude-to-work]" id="attitude-to-work" class="combo-box resetable">
					{% for attitude in attitudes %}
						<option value="{{ attitude['id'] }}" {% if employeeStatus['attitude-to-work'] == attitude['key'] %} selected {% endif %}>{{ attitude['value'] }}</option>
					{% endfor %}
				</select>
			</div>

			<div class="form-item-container employee-status">
				<label for="presence-status" class="lbl">حالة التواجد بالمدرسة</label>
				<select name="employee-status[presence-status]" id="presence-status" class="combo-box resetable">
					{% for presenceStatus in presenceStatuses %}
						<option value="{{ presenceStatus['id'] }}" {% if employeeStatus['presence-status'] == presenceStatus['key'] %} selected {% endif %}>{{ presenceStatus['value'] }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
	</div>

	{% include "employees-affairs/edit-employee/components/fieldset-buttons.twig" %}
</fieldset>
