<fieldset>
	<legend>بيانات وظيفية</legend>
	<div class="form-row">
		<div class="form-row-content">
			<div class="form-item-container job-type">
				<label for="job-type" class="lbl">نوع الوظيفة</label>
				<select name="job-type" id="job-type" class="combo-box">
					<option value="MANAGEMENT">إدارة مدرسية</option>
					<option value="TEACHER">مدرس</option>
					<option value="EMPLOYEE">إداري</option>
					<option value="WORKER">عامل</option>
				</select>
			</div>

			<div class="form-item-container attitude-to-work">
				<label for="attitude-to-work" class="lbl">الموقف من العمل</label>
				<select name="attitude-to-work" id="attitude-to-work" class="combo-box">
					<option value="ON_TOP_OF_WORK">على رأس العمل</option>
					<option value="DIED">متوفى</option>
					<option value="PENSIONER">معاش</option>
					<option value="SIXK_LEAVE">أجازة مرضية</option>
					<option value="UNPAID_LEAVE">أجازة بدون مرتب</option>
					<option value="CHILDCARE_LEAVE">رعاية طفل</option>
					<option value="FIRED">مفصول</option>
					<option value="LOANED">إعارة</option>
					<option value="MATERNITY_LEAVE">عامل</option>
					<option value="RESIGNED">مستقيل</option>
					<option value="RECRUIT">مجند</option>
					<option value="OUT_OF_WORK">منقطع عن العمل</option>
				</select>
			</div>

			<div class="form-item-container employee_status">
				<label for="employee_status" class="lbl">حالة التواجد بالمدرسة</label>
				<select name="employee_status" id="employee_status" class="combo-box">
					<option value="ORIGINAL">أصلي</option>
					<option value="DEPUTED">منتدب</option>
					<option value="MOVED">تم نقله</option>
				</select>
			</div>
		</div>
	</div>
	<div class="form-row">
		<div class="form-row-content">
			<div class="form-item-container date_of_hiring">
				<label for="date_of_hiring" class="lbl">تاريخ التعيين</label>
				<input type="date" name="date_of_hiring" id="date_of_hiring" class="text-box">
			</div>

			<div class="form-item-container date_of_work_received">
				<label for="date_of_work_received" class="lbl">تاريخ استلام العمل</label>
				<input type="date" name="date_of_work_received" id="date_of_work_received" class="text-box">
			</div>
		</div>
	</div>
</fieldset>
