<fieldset>
	<legend>بيانات الإتصال</legend>
	<div class="form-item-container fixed-phone">
		<label for="fixed-phone" class="lbl">تليفون أرضي</label>
		<input type="phone" name="fixed-phone" id="fixed-phone" class="text-box" value="{{ phone['fixed'] }}">
	</div>

	<div class="form-item-container mobile">
		<label for="mobile" class="lbl">تليفون محمول</label>
		<input type="phone" name="mobile" id="mobile" class="text-box" value="{{ phone['mobile'] }}">
	</div>
</fieldset>
