<div class="form-item-container martial-status">
	<label for="martial-status" class="lbl">الحالة الإجتماعية</label>
	<select name="martial-status" id="martial-status" class="combo-box">
		<option value="SINGLE">أعزب</option>
		<option value="MARRIED">متزوج</option>
		<option value="WIDOWER">أرمل</option>
		<option value="DIVORCED">مطلق</option>
	</select>
</div>

<div class="form-item-container children-count">
	<label for="children-count" class="lbl">عدد الأبناء</label>
	<input type="number" name="children-count" id="children-count" class="text-box">
</div>
