<fieldset id="social-status">
	<legend>بيانات إجتماعية</legend>
	{% include "employees-affairs/edit-employee/components/is-dirty.twig" with { status: 0, name: "social-status[is-dirty]" }%}
	<div class="form-row">

		<div class="form-item-container martial-status">
			<label for="martial-status" class="lbl">الحالة الإجتماعية</label>
			<select name="social-status[martial-status]" id="martial-status" class="combo-box resetable">
				{% for martialStatus in martialStatuses %}
					<option value="{{ martialStatus['id'] }}" {% if socialStatus['martial-status'] == martialStatus['key'] %} selected {% endif %}>{{ martialStatus['value'] }}</option>
				{% endfor %}
			</select>
		</div>

		<div class="form-item-container children-count">
			<label for="children-count" class="lbl">عدد الأبناء</label>
			<input type="number" name="social-status[children-count]" id="children-count" class="text-box resetable" value="{{ socialStatus['children-count'] }}">
		</div>
	</div>
	{% include "employees-affairs/edit-employee/components/fieldset-buttons.twig" %}
</fieldset>
