{# {% if entity.activity_1.evaluation.isAbsence %}
	{% include absence %}
{% else %}
	<td>{{ entity.activity_1.evaluation.value }}</td>
{% endif %} #}

{% if entity.activity_1.netDegree.isAbsence %}
	{% include absence %}
{% else %}
	<td>{{entity.activity_1.netDegree.value}}</td>
{% endif %}

{% if entity.activity_1.grade.isAbsence %}
	{% include absence %}
{% else %}
	{% if entity.activity_1.grade.grade == 'F' %}
		<td class="danger">{{entity.activity_1.grade.grade}}</td>
	{% else %}

		<td>{{entity.activity_1.grade.grade}}</td>
	{% endif %}
{% endif %}
