{% if entity.baseTotal.total.isAbsence %}
	{% include absence %}
{% else %}
	<td>{{ entity.baseTotal.total.value }}</td>
{% endif %}

{% if entity.baseTotal.grade.isAbsence %}
	{% include absence %}
{% else %}
	{% if entity.baseTotal.grade.grade == 'F' %}
		<td class="danger">{{entity.baseTotal.grade.grade}}</td>
	{% else %}

		<td>{{entity.baseTotal.grade.grade}}</td>
	{% endif %}
{% endif %}
