{% if entity.studentState.state == 'FAILED' %}
	<td class="danger">{{ entity.studentState.state }}</td>
{% else %}
	<td class="success">{{ entity.studentState.state }}</td>
{% endif %}


<td>
	{% for subject in entity.studentState.weaknessSubjects %}
		{{ subject.getSubjectName }}
	{% endfor %}
</td>
